@font-face {
    font-family: 'PangramSans';
    src: url('../static/fonts/PangramSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSansBold';
    src: url('../static/fonts/PangramSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSansBoldItalic';
    src: url('../static/fonts/PangramSans-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSansBoldItalic2';
    src: url('../static/fonts/PangramSans-Bold-Italic2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSansCompSemibold';
    src: url('../static/fonts/PangramSans-CompressedSemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSansMedium';
    src: url('../static/fonts/PangramSans-Normal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PangramSans', sans-serif;
    background: url('/static/back5.png') no-repeat center center fixed;
    background-color: #000;
    background-size: cover;
    display: flex;
    flex-direction: initial; /* Cambiado a columna */
    align-items: flex-start;
    justify-content: center;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('/static/back5.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #000;
    transition: filter 0.3s ease;
    top: 0;
    left: 0;
    z-index: -1;

}

body.blurred::before {
    filter: blur(3px); /* Ajusta el valor según la intensidad del blur deseado */
}

.container {
    width: 600px;
    margin: 20px;
    padding: 40px;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10.2px);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
}


.container2 {
    font-family: 'PangramSans', sans-serif;
    max-width: 900px;
    margin: 20px 0;
    padding: 40px;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10.2px);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.tu {
    font-family: 'PangramSansBold', sans-serif;
    font-size: 1.7em;
    line-height: 70%;
}

.cripto {
    font-family: 'PangramSansBold', sans-serif;
    text-transform: uppercase;
    font-size: 2.4em;
    line-height: 70%;
}

.calculadora {
    font-family: 'PangramSansBoldItalic2';
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 70%;
}

form label {
    display: block;
    margin-bottom: 7px;
}

input {
    font-family: 'PangramSans', sans-serif;
    font-size: 22px; /* Tamaño del texto del placeholder */
    color: rgb(0 0 0);
    border: 0px solid #ddd;
}

form input,
form select {
    width: 97%;
    padding: 10px;
}

.form-control {
    height: 50px;
    border-radius: 8px;
    background-color: rgb(245, 246, 252);
}

/* Contenedor para el select y el icono */
.custom-select-wrapper {
    position: relative;
    width: 100%;
}

.small-select {
    font-family: 'PangramSans';
    font-size: 20px;
    width: 100%; /* Ancho completo para el select dentro del contenedor */
    height: 40px;
    padding: 0 5px 0 5px;
    border-radius: 30px;
    background-color: #1E82DE;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
    margin: 0px -10px 0px -10px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
    -webkit-appearance: none; /* Elimina la flecha por defecto en WebKit */
    -moz-appearance: none; /* Elimina la flecha por defecto en Firefox */
    appearance: none; /* Elimina la flecha por defecto en todos los navegadores compatibles */
}

.material-symbols-outlined {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que el icono interfiera con la selección del select */
    color: rgba(255, 255, 255);
    font-size: 30px; /* Aumenta el tamaño del icono */
}

.small-select option {
    color: rgba(255, 255, 255);
}



/* Estilo para alinear los elementos en una fila */
.form-row {
    display: flex;
    align-items: center;
    background-color: #f5f6fc;
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 20px;
    background-position: right 12px center;
}

/* Estilo para el texto del placeholder */
::placeholder {
    font-family: 'PangramSans', sans-serif;
    font-size: 22px; /* Tamaño del texto del placeholder */
    color: rgb(119, 128, 160);
}

span#sumaPorcentajes {
    color: #1D82DE;
    font-family: 'PangramSansMedium', sans-serif;
}

.button-control {
    font-family: 'PangramSans', sans-serif;
    font-size: 25px;
    line-height: 150%;
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 12px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.button-control2 {
    width: 40%;
    font-family: 'PangramSans', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    background-color: #fff;
    color: 000;
    cursor: pointer;
    border: 1px solid #000;
}

.Titulocontainer2 {
    font-family: 'PangramSansCompSemibold', sans-serif;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 0px solid #ddd;
}

input.porcentaje.form-control {
    font-family: 'PangramSansMedium', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #1D82DE;
}

input#inversionTotal {
    font-family: 'PangramSans', sans-serif;
    width: 100%;
}

td {
    font-family: 'PangramSans', sans-serif;
    font-size: 22px;
}

th {
    background-color: #000000;
    color: white;
}

tr {
    border: 0px solid #ddd;
}

.sumaporcent {
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.porcentajeent {
    font-family: 'PangramSansBold', sans-serif;
    font-size: 30px;
}

.sumaPorcentajesContainergeneral {
    margin: 10px 0 20px 0;
}

.subcontainer1 {
    margin-bottom: 20px;
}


.Title2 {
    font-family: 'PangramSans', sans-serif;
    font-size: 18px;
    margin: 10px 0 20px 0;
    color: #000;
}

.subcontainer2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.subcontainer3 {
    background-color: #fff;
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #000;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
}

.Title3 {
    font-family: 'PangramSansMedium', sans-serif;
    font-size: 20px;
    margin: 10px 0 20px 0;
}

div#porcentajesContainer {
    font-family: 'PangramSans', sans-serif;
    margin: 20px 0 20px 0;
}

th.entrada {
    border-radius: 8px 0px 0px 0px;
}

th.inversion {
    border-radius: 0px 8px 0px 0px;
}

div#tablaEntradasContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.Desarrollador {
    text-align: center;
}

.julioindigital {
    color: #000;
}

/* Checkbox */

[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    color: #1D82DE;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}

/* Pseudo element for check styling */

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

/* Checked */

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */

[type=checkbox]:disabled {
    background-color: #f5f6fc;
    opacity: 0.84;
    cursor: not-allowed;
}

/* IE */

[type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Media Queries para diseño responsive */


@media (max-width:375) {
    body {
        flex-direction: column; 
        width: 44vh;
        }
}

@media (max-width:430px) {
    body {
        flex-direction: column;    
    }

    .container {
        margin-top: 5%;
        padding: 2vh;  
        width: 36vh;
    }

    .container2 {
        padding: 5px;
    }
    }

    .h1{
        margin: 5px;
    }

    .subcontainer1 {
        margin-bottom: 30PX;
        margin-top: 30PX;
    }

    .subcontainer2 {
        justify-content: space-around;
    
    }

    .subcontainer3 {
        width: 45%;
        margin: 3px;
        padding: 10PX;
    }

    .button-control {
        font-size: 20px;
    }

    form input, form select {
        font-family: 'PangramSans', sans-serif;
        width: 97%;
                padding: 10px;
        border: 0px solid #ddd;
        border-radius: 8px;
    }

    td {
        padding: 5px;
    }

    input.porcentaje.form-control {
        width: 80px;
    }


@media (min-width: 768px) {

    .subcontainer3 {
        width: 30%;
    }

    
    .subcontainer3 {
        width: 30%;
    }


    .h1{
        margin: 5px;
    }
}
